body{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  background-color: #1f1e1e;
  color: white;
}
.logo a{
  float: left;
  font-size: 1.8em;
  margin: 20px;
  color: Red;
}
.logo.menu a{
  color: white;
}
.flog-out{
  float: right;
}
.log-out{
  float: right;
  margin: 20px 20px auto auto;
  font-size: 1.8em;
  color: Red;
}
.headerWrapper{
  width: 100%;
  margin:20px auto 20px 20px;
}
.customRow{
  margin: 40px auto auto auto;
}
.sub-head{
  font-size: 1.6em;
  color: white;
}


